ServiceWinBataClub/Service References/OrceAward/AwardAccountServicesApiService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://v3_1.award.webservices.csx.dtv.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="AwardAccountServicesApiService" targetNamespace="http://v3_1.award.webservices.csx.dtv.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="https://172.24.20.183:8446/BPE/OrceWebServices/v3_1/AwardAccountServicesApiService?xsd=1" namespace="http://v3_1.award.webservices.csx.dtv.com/" />
    </xsd:schema>
  </types>
  <message name="automaticRedeem">
    <part name="parameters" element="tns:automaticRedeem" />
  </message>
  <message name="automaticRedeemResponse">
    <part name="parameters" element="tns:automaticRedeemResponse" />
  </message>
  <message name="RelateProcessingException">
    <part name="fault" element="tns:RelateProcessingException" />
  </message>
  <message name="inquiry">
    <part name="parameters" element="tns:inquiry" />
  </message>
  <message name="inquiryResponse">
    <part name="parameters" element="tns:inquiryResponse" />
  </message>
  <message name="issueCoupon">
    <part name="parameters" element="tns:issueCoupon" />
  </message>
  <message name="issueCouponResponse">
    <part name="parameters" element="tns:issueCouponResponse" />
  </message>
  <message name="redeemCoupons">
    <part name="parameters" element="tns:redeemCoupons" />
  </message>
  <message name="redeemCouponsResponse">
    <part name="parameters" element="tns:redeemCouponsResponse" />
  </message>
  <message name="getAwardAccountHistory">
    <part name="parameters" element="tns:getAwardAccountHistory" />
  </message>
  <message name="getAwardAccountHistoryResponse">
    <part name="parameters" element="tns:getAwardAccountHistoryResponse" />
  </message>
  <message name="expireCoupons">
    <part name="parameters" element="tns:expireCoupons" />
  </message>
  <message name="expireCouponsResponse">
    <part name="parameters" element="tns:expireCouponsResponse" />
  </message>
  <message name="reverse">
    <part name="parameters" element="tns:reverse" />
  </message>
  <message name="reverseResponse">
    <part name="parameters" element="tns:reverseResponse" />
  </message>
  <portType name="AwardAccountServicesApi">
    <operation name="automaticRedeem">
      <input wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/automaticRedeemRequest" message="tns:automaticRedeem" />
      <output wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/automaticRedeemResponse" message="tns:automaticRedeemResponse" />
      <fault wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/automaticRedeem/Fault/RelateProcessingException" name="RelateProcessingException" message="tns:RelateProcessingException" />
    </operation>
    <operation name="inquiry">
      <input wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/inquiryRequest" message="tns:inquiry" />
      <output wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/inquiryResponse" message="tns:inquiryResponse" />
      <fault wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/inquiry/Fault/RelateProcessingException" name="RelateProcessingException" message="tns:RelateProcessingException" />
    </operation>
    <operation name="issueCoupon">
      <input wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/issueCouponRequest" message="tns:issueCoupon" />
      <output wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/issueCouponResponse" message="tns:issueCouponResponse" />
      <fault wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/issueCoupon/Fault/RelateProcessingException" name="RelateProcessingException" message="tns:RelateProcessingException" />
    </operation>
    <operation name="redeemCoupons">
      <input wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/redeemCouponsRequest" message="tns:redeemCoupons" />
      <output wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/redeemCouponsResponse" message="tns:redeemCouponsResponse" />
      <fault wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/redeemCoupons/Fault/RelateProcessingException" name="RelateProcessingException" message="tns:RelateProcessingException" />
    </operation>
    <operation name="getAwardAccountHistory">
      <input wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/getAwardAccountHistoryRequest" message="tns:getAwardAccountHistory" />
      <output wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/getAwardAccountHistoryResponse" message="tns:getAwardAccountHistoryResponse" />
      <fault wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/getAwardAccountHistory/Fault/RelateProcessingException" name="RelateProcessingException" message="tns:RelateProcessingException" />
    </operation>
    <operation name="expireCoupons">
      <input wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/expireCouponsRequest" message="tns:expireCoupons" />
      <output wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/expireCouponsResponse" message="tns:expireCouponsResponse" />
      <fault wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/expireCoupons/Fault/RelateProcessingException" name="RelateProcessingException" message="tns:RelateProcessingException" />
    </operation>
    <operation name="reverse">
      <input wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/reverseRequest" message="tns:reverse" />
      <output wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/reverseResponse" message="tns:reverseResponse" />
      <fault wsam:Action="http://v3_1.award.webservices.csx.dtv.com/AwardAccountServicesApi/reverse/Fault/RelateProcessingException" name="RelateProcessingException" message="tns:RelateProcessingException" />
    </operation>
  </portType>
  <binding name="AwardAccountServicesApiPortBinding" type="tns:AwardAccountServicesApi">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="automaticRedeem">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="RelateProcessingException">
        <soap:fault use="literal" name="RelateProcessingException" namespace="" />
      </fault>
    </operation>
    <operation name="inquiry">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="RelateProcessingException">
        <soap:fault use="literal" name="RelateProcessingException" namespace="" />
      </fault>
    </operation>
    <operation name="issueCoupon">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="RelateProcessingException">
        <soap:fault use="literal" name="RelateProcessingException" namespace="" />
      </fault>
    </operation>
    <operation name="redeemCoupons">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="RelateProcessingException">
        <soap:fault use="literal" name="RelateProcessingException" namespace="" />
      </fault>
    </operation>
    <operation name="getAwardAccountHistory">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="RelateProcessingException">
        <soap:fault use="literal" name="RelateProcessingException" namespace="" />
      </fault>
    </operation>
    <operation name="expireCoupons">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="RelateProcessingException">
        <soap:fault use="literal" name="RelateProcessingException" namespace="" />
      </fault>
    </operation>
    <operation name="reverse">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="RelateProcessingException">
        <soap:fault use="literal" name="RelateProcessingException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="AwardAccountServicesApiService">
    <port name="AwardAccountServicesApiPort" binding="tns:AwardAccountServicesApiPortBinding">
      <soap:address location="https://172.24.20.183:8446/BPE/OrceWebServices/v3_1/AwardAccountServicesApiService" />
    </port>
  </service>
</definitions>